*{

margin:0px;
padding:0px;

}


p{
font-size:larger;
text-align:center;
background-color:plum;

}


#btn{

padding:1cm;
margin-left:23cm;
margin-top:2cm;


}

#btn:hover{

background-color:yellow;

}